# Random python
*.egg-info
__pycache__

# Cython
build/

# Models
**/models/*
**/wandb

# Training logs
**/*_log*.txt

# Profiling
*.prof*
*_profile.*

# Docker images and archives
*.tar

# Data
*.pickle
*.pkl
*.gzip

# Wandb
**/wandb/

# IDE
/.vscode

# Temp
**/temp/

# Extracted images
frame_*.png

# Hidden
**/hidden_*
**/*_old.*
**/*_old_*

# Testing configs
example*.yaml

# Automatic generation
**/downloads/*
**/checkpoints/*
