# Random python
*.egg-info
__pycache__
.ipynb_checkpoints

# Cython
build/

# Models
**/models/*
**/wandb

# Training logs
**/*_log*.txt

# Profiling
*.prof*
*_profile.*

# Docker images and archives
*.tar

# Data
*.pickle
*.pkl
*.gzip

# Wandb
**/wandb/

# IDE
/.vscode

# Temp
**/temp/

# Extracted images
frame_*.png

# Hidden
**/hidden_*
**/*_old.*
**/*_old_*

# Testing configs
example*.yaml

# Automatic generation
**/downloads/*
**/checkpoints/*

# Manim
**/media/*

# Saved data
*.npy
*.csv

# Submission folders
**/submit/*
**/submit_module/*
